*.pyc
*.db
.DS_Store
.coverage
.env
gen/
app/config.py
.webassets-cache
bower_components/
node_modules/
.vscode/
.vagrant/
tmp/
ubuntu-xenial-16.04-cloudimg-console.log
app/config.py
config/flask_config.py
