{% from 'components/field.html' import render_field %}

{% extends "layout.html" %}

{% block title %}
    Edit User
{% endblock %}

{% block header %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ url_for('.list') }}">Admin</a></li>
        <li class="breadcrumb-item"><a href="{{ url_for('.list') }}">Users</a></li>
        <li class="breadcrumb-item active">Edit User</li>
    </ol>
{% endblock %}

{% block body %}
    <form method="POST" action="{{ request.url }}">
        <div class="card">
            <div class="card-header">
                Edit User
            </div>
            <div class="card-body">
                {{ form.csrf_token }}
                {{ render_field(form.email) }}
                <div class="checkbox">
                    <label>
                        {{ form.is_admin() }}
                        {{ form.is_admin.label.text }}
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        {{ form.active() }}
                        {{ form.active.label.text }}
                    </label>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary"><i class="icon-save"></i> Save</button>
                <a class="btn btn-secondary" href="{{ url_for('.list') }}"><i class="icon-remove"></i> Cancel</a>
                {% if current_user.is_admin and not user == current_user %}
                    {% set dialogue = 'Are you sure you want to delete %s?' % user.email %}
                    <a data-confirm data-dialogue="{{ dialogue }}" class="btn btn-secondary float-right" href="{{ url_for('.delete', id=user.id) }}">
                        <i class="icon-trash"></i> Delete
                    </a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}
