{% from 'components/table.html' import table_header %}
{% from 'components/pagination.html' import pagination %}
{% from 'components/search.html' import search %}

<div class="card">
    <div class="card-header">
        {{ search('Search for an Email') }}
    </div>
    <div class="card-body table-responsive p-0">
        <table class="table table-striped">
            {{ table_header(datatable, actions=True) }}
            <tbody>
                {% for u in datatable.query.items %}
                    <tr>
                        <td><a href="{{ url_for('.edit', id=u.id) }}">{{ u.email }}</a></td>
                        <td>{{ timeago(u.created_ts) }}</td>
                        <td>{{ u.remote_addr }}</td>
                        <td>
                            {% set dialogue = 'Are you sure you want to delete %s?' % u.email %}
                            <a data-confirm data-dialogue="{{ dialogue }}" class="btn btn-default btn-xs" href="{{ url_for('.delete', id=u.id) }}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr><td colspan="{{ datatable.colspan }}">No results found for: {{ request.values.get('query') }}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {{ pagination(datatable.query, datatable.limits) }}
    </div>
</div>
